.experiência {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}
.experiência .subtitulo {
  color: #e0e0e0;
}
.experiência-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #525252;
}

.experiência-texto strong {
  color: #141414;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  gap: 10px 20px;
  background: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 5px;
  position: relative;
}
.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #525252);
  position: absolute;
  left: -2px;
  top: 20px
}
.empresa-ano {
  position: absolute;
  top: 20px;
  left: -90px;
  color: #525252;
  font-size: 0.875rem;
}
.empresa-titulo li{
font-size: 1.125rem;
line-height: 1.1;


}
.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}
.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: start;

}
.empresa-habilidades li {
  font-size: 0.900rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #ffffff;
  padding: 5px 10px;
  font-weight:bolder;
}
@media (max-width: 800px) {
  .experiência {
    grid-template-columns: 1fr;
    gap: 20px;
    color: #141414;
  }
  .experiência-subtitulo {
    color: #141414;
  }
}