
.cols {
  width: 50%;
}
.topline {
  max-width: 100%;
  display: block;
  position: relative;
  font-size: 40px;
  letter-spacing: 5px;
  color: #3d535f ;
  letter-spacing: 4px;
}

.topline::after {
  position: absolute;
  content: '';
  height: 4px;
  width: 45px;
  bottom: 10px;
  background-color: #7f00ff;
}

h1 {
  display: block;
  font-size: 7em;
  font-weight: 900;
  color: #3d535f;
}
.multiText {
  color: #7f00ff;
  text-transform: captalize;
}

.introducao {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding:  0 10%;

}

p {
  display: block;
  width: 90%;
  font-size: 1.2em;
  color: #3d535f;
}
.btns {
  width: 100%;
  position: relative;
  left: 150px;
}
button {
  outline: none ;
}